body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #91a4b8; */
}

#form_register {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    background-color: #d8d6d6;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.form_heading {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form_input{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: black;
    background-color: #f4f3f3;
}

#sign_submit_button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#sign_submit_button:hover {
    background-color: #3e8e41;
    box-shadow: 0 0 3px #3e8e41, 0 0 4px  #3e8e41, 0 0 5px  #3e8e41;
}

.error-message {
    font-size: 10px;
    color: red;
    font-family: Arial, sans-serif;
    display: none;
}

@media (max-width: 500px) {
    #form_register {
        width: 80vw;
    }

    .form_heading {
        font-size: 20px;
    }
}
